<app-characters-start></app-characters-start
><app-characters-filters></app-characters-filters>
<mat-grid-list cols="3" rowHeight="5:5">
  <ul *ngFor="let character of characters$ | async">
    <mat-grid-tile>
      <mat-card (click)="onCardClick(character)">
        <mat-card-header>
          <mat-card-title>{{ character.name }}</mat-card-title></mat-card-header
        >
        <img mat-card-image src="{{ character.image }}" alt="" />
        <div class="card-footer">
          <button
            mat-raised-button
            [color]="getCharacterStatusColor(character.status)"
          >
            Status: {{ character.status }}
          </button>

          <button mat-raised-button>{{ character.species }}</button>
        </div>
      </mat-card></mat-grid-tile
    >
  </ul>
</mat-grid-list>
<app-characters-pagination [info]="info$ | async"></app-characters-pagination>
