<mat-card>
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title></mat-card-header
  >
  <img mat-card-image src="{{ character.image }}" alt="" />
  <div class="dialog-footer">
    <button mat-raised-button>Gender: {{ character.gender }}</button>
    <button mat-raised-button>Status: {{ character.status }}</button>

    <button mat-raised-button>Species: {{ character.species }}</button>
    <button mat-raised-button>Origin: {{ character.origin.name }}</button>
    <button mat-raised-button>
      Last seen location: {{ character.location.name }}
    </button>
  </div>
</mat-card>
